html,
body {
  background: #000;
  height: 100%;
}

body,
a {
  color: #fff;
}

body {
  /* center */
  align-items: center;
  display: flex;
  justify-content: center;

  /* reset */
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* github-corners */
.github-corner > svg {
  opacity: 0.5;
  transition: opacity 0.4s;
}

.github-corner:hover > svg {
  opacity: 1;
}

@media (max-width: 991px) {
  .github-corner {
    display: none;
  }
}
