html,
body {
  height: 100%;
}

body {
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#game {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
