body {
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* github-corners */
.github-corner > svg {
  opacity: 0.5;
  transition: opacity 0.4s;
}

.github-corner:hover > svg {
  opacity: 1;
}
